@keyframes glow {
  0% {
    box-shadow: 0 0 5px 2px #A5A6FF;
    /* Set the initial box shadow color and size */
  }

  50% {
    box-shadow: 0 0 20px 10px #A5A6FF;
    /* Set the glow effect at 50% of the animation */
  }

  100% {
    box-shadow: 0 0 5px 2px #A5A6FF;
    /* Return to the initial box shadow at the end of the animation */
  }
}

.glowing-border:hover {
  animation: glow 2s infinite;
  /* Adjust the duration of the animation as needed */
}

.btn1-css:hover {
  /* Add your other card styles here */
  border: 1px solid blue;
  /* Set the initial border color */
  border-radius: 8px;
  /* Adjust the border radius as needed */
  overflow: hidden;
  /* Ensure the glow effect doesn't overflow outside the card */
}

.ex-card:hover {
  display: inline-block;

  animation: pulse;
  animation-duration: 2s;
}